@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */
*{
    margin: 0;
    padding: 0;;
}
body{
    font-family: "Work Sans", serif; 
    box-sizing: border-box;
}


header{
    max-width: 100vw;
    margin: 0 auto 4.42vw auto;
    background-color: rgba(255, 144, 14, 0.1);
   
}
.main section{
    margin-bottom: 6.77vw;
}
/* Shared styles */
.bg-light-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display:flex;
}
.dark-02{
    color: rgb(66, 66, 66);
}
.dark-03{
    color:#727272;
}
.btn-common{
    background-color: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 1vw 1.3vw;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
}
.navbar, 
.banner
{
    /* box-sizing: border-box; */
    max-width: 75vw;
    margin: 0 auto;
}
/* navbar styles */
.navbar{
    padding-top: 2.6vw;
    justify-content: space-between;
    align-items: center;
    margin-left: 11.9vw;
    margin-right: 12.5vw;
}
.brand-name{
    font-weight: 700;
    font-size: 2.5vw;
}
.nav-list{
    list-style: none;
    margin-right: 1.56vw;
}
.nav-link{
    text-decoration: none;
    font-size: 0.9375vw;
    font-weight: 500;
    line-height: 1.35vw;
    letter-spacing: 0%;
}

/* banner styles */
.banner{
    padding-top: 5.46vw;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    
}
.banner-container{
    /* max-width: 850px; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2.6vw;
}
.banner-description{
    margin-top: 2.6vw;
    margin-bottom: 1.56vw;
}
.banner-title{
    font-weight: 700;
    font-size: 3.38vw;
}
.banner img{
    width: 100%;
    margin-bottom: 2.34vw;
}

/* quick list fratures style */
.main{
    /* box-sizing: border-box; */
    max-width: 75vw;
    margin: 0 auto;
}
.quick-container{
    gap: 3.48vw;
    align-items: center;
}
  .quick-image-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.25vw;
      padding-left: 3.125vw;
  }
  .quick-content-container{
      /* max-width: 530px  ; */
      margin: 0 auto;
  }
  .quick-title{
    margin:24px 0;
  }
  .quick-list-words{
    color: rgb(114, 114, 114);
    font-size: 2.5vw;
    font-weight: 500;
  }
  .of-our-words{
    color: rgb(19, 19, 19);
    font-size: 2.5vw;
    font-weight: 700;
  }
  .features-word{
    color: rgb(255, 144, 14);
    font-size: 3rem;
    font-weight: 700;
  }
  .quick-description{
    margin-bottom: 1.66vw;
    font-size: 0.83vw;
    font-weight: 400;
  }
/* responsive media query */

/* small device responsive*/
@media screen and (max-width: 576px) {
    .navbar, .nav-links-container{
        flex-direction: column;
    }
    /* .navbar, .banner{
        margin-left: 0;
        margin-right: 0;
    }
    
    .banner{
        padding-top: 30px;
    }
    .banner-title{
        font-size: 3.5rem;
    }
    .banner-image-container{
        padding-left: 10px;
        padding-right: 10px;
    } */
    .quick-container{
        flex-direction: column;
    }
    .quick-image-container{
        grid-template-columns: 1fr; 
        padding-left: 0px;
    }
    .quick-content-container{
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
    

.navbar, .nav-links-container{
    flex-direction: column;
}
.navbar{
    gap:40px;
}
.navbar, .banner{
    margin-left: 20px;
    margin-right: 20px;
}

.banner{
    padding-top: 40px;
}
.quick-container{
    flex-direction: column;
}
.quick-image-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.quick-content-container{
    padding-left: 10px;
    padding-right: 5px;
}
}
